/*parametre global*/

body{
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  flex: 1 0 140px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;  
  box-shadow: 0 0 34px black;
}
.img-header{
  width: 50%;  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}